table {
    width: 40%;
    border-collapse: collapse;
    margin-left: 30%;

    

  }
  th{
    border: 1px solid  rgb(201, 201, 201);
    
 
    padding: 5px;

  
  }

  tr{
    border: 1px solid rgb(201, 201, 201);


  }

  td{
    border: 1px solid rgb(201, 201, 201);
    padding: 2px;
    
  }
 
  .tbody {
    border: 10px solid grey;



  }

  /* .bidPriceHeading{
    width: 10%;
    text-align: right;
    
  } */


  .levels{

    text-align: center;
    border: 1px solid  rgb(201, 201, 201);

  }
  